@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
.ft footer {
  background-color: #1e3a8a;
  color: #ffffff;
  text-align: center;
  padding: 1.5rem 2rem;
  bottom: 0;
  font-size: 0.9rem;
  
}
.ft {
    background-color: #1e3a8a;
  width: 100%;
  bottom: 0;
}
footer a {
  color: #bbf7d0;
  margin: 0 0.5rem;
  text-decoration: underline;
}